@import 'bootstrap/scss/bootstrap';

#wrapper {
  margin: 0;
  border: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

html, body {
  background-color: #ace;
  @extend #wrapper;

  #app {
    @extend #wrapper;

    .system-info, .status-info {
      > .module {
        > .module-inner {
          padding: 1em;
          margin: 1em;
          border: 1px solid #000;
        }
      }
    }

  }
}
