htmk, body {
  background-color: #ace;
  min-height: 100%;
  width: 100%;

  #app {
    .app-wrapper {

      .message-form {
        margin: 1em auto;
        width: 800px;
      }


      .messages-list {
        min-height: 400px;
        margin: 0 auto;
        padding: 0;
        width: 800px;
        border: 1px solid #333;

        .message-item {
          list-style: none;
          border-bottom: 1px solid #333;

          time {
            color: #999;
            margin-right: 1em;
            display:inline-block;
            vertical-align: middle;
          }

          .text {
            display:inline-block;
            vertical-align: middle;
          }

        }
      }
    }
  }
}
